<article class="task">
  <section class="task-head">
    <h2><%= link_to task.title, task_path(task) %></h2>
    <small>
      <% if task.category.present? %>
        <%= link_to task.category.name , task.category %>
      <% end %>
      <% if user_signed_in? && current_user.admin? %>
        |
        <%= link_to 'Изменить', edit_admin_task_path(task) %>
        |
        <%= link_to 'Удалить', admin_task_path(task), method: :delete, data: { confirm: 'Вы уверены?' } %>
      <% end %>
    </small>
  </section>
</article>
