<article class="task">
  <section class="task-head">
    <h2><%= link_to task.title, task_path(task) %></h2>
    <small>
      <% if task.category.present? %>
        <%= link_to task.category.name , task.category %>
        |
      <% end %>
      <%= link_to 'Изменить', edit_task_path(task) %>
      |
      <%= link_to 'Удалить', task_path(task), method: :delete, data: { confirm: 'Вы уверены?' } %>
    </small>
  </section>
</article>
