<p>
  <strong>Название</strong>
  <%= @task.title %>
</p>

<p>
  <%= image_tag @task.picture_url unless @task.picture_url.nil? %>
</p>

<p>
  <strong>Задание</strong>
  <%= @task.body %>
</p>
<%= link_to 'Назад', tasks_path %>