<div class="form-group">
  <h4><strong>Онлайн компилятор</strong></h4>
  <hr>
  <%= form_tag("/compiler/submit_code", method: "post") do %>
    <h4>Выбор языка</h4>
    <%= select_tag(:language, options_for_select(RemoteCodeCompiler::LANGUAGES)) %>
    <br>
    <br>
    <h4>Исходный код</h4>
    <div class="field">
      <%= text_area_tag(:source_code, "", size: "100x15") %>
    </div>
    <br>
    <h4><strong>Входные данные</strong></h4>
    <%= text_area_tag(:inputs, "", size: "35x6") %>
    <button class="btn btn-primary">Запустить код</button>
  <% end %>
</div>
